@import 'variables';

@media(max-width: 768px) {
    .about_collapses {
        width: 98% !important;
        margin-top: 1.7rem !important;
    }
}
@keyframes slide {
    0% {
        overflow: hidden;
        max-height: 0%;
        opacity: 0;
    }

    5% {
        opacity: 1;
    }
    
    50% {
        max-height: 50%;
    }
    
    100% {
        max-height: 100%;
    }
}

.about {
    &_collapses {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 6rem;
        &_content {
            margin-bottom: 0.5rem;
            width: 95%;
            animation: slide 3s ease-in-out;
        }
    }
}